.header-container {
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
    padding: 0px 15px 0px 15px;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.controls-container {
    display: flex;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.219);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 20px;
    filter: brightness(0)invert(1);
    margin-right: 3px;
}

p {
    font-size: 12px;
}

.logo-container>p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}

.logo-container>img:nth-child(1) {
    width: 30px;
}